<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Spring Security 6 + Thymeleaf Demo</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button aria-controls="navbar" aria-expanded="false"
			        class="navbar-toggle collapsed" data-target="#navbar"
			        data-toggle="collapse" type="button">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span> <span class="icon-bar">
                    </span>
			</button>
			<a class="navbar-brand">
				Registration and Login with Spring Boot 3 + Spring Security 6 + Thymeleaf</a>
		</div>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav navbar-right">
				<li sec:authorize="isAuthenticated()">
					<a class="dropdown-toggle" href="javascript: document.logoutForm.submit()">Sign out</a>
					<form method="post" name="logoutForm" th:action="@{/logout}" th:hidden="true">
						<input hidden type="submit" value="Sign Out"/>
					</form>
				</li>
			</ul>
		</div>
	</div>
</nav>

<br><br><br><br>
<div class="container">
	<div class="alert alert-success">
		Hello ADMIN <strong><span sec:authentication="principal.username"></span></strong>
		Login Successful.
	</div>
</div>
<input th:name="${_csrf.parameterName}" th:value="${_csrf.token}"
       type="hidden"/>
</body>
</html>