


.auth-wrapper{
	display: flex;
	align-items: center;
	justify-items: center;
	flex-direction: column;
}

.big-auth-button{
	border:2px solid #000;
	padding: 1em 1em;
	width: 24em;
	height: 3.5em;
}
.big-auth-button p{
	font-family: SONGER_SE_regular;
}

.big-auth-reg{

}

.big-auth-enter{

}

footer {
	display: flex;
	align-items: center;
	justify-items: center;
	flex-direction: column;
	background: #3755FA;
	width: 100%;
	font-family: SONGER_SE_regular;
}

footer .foot{
	align-items: center;
	background: #3755FA;
	display: flex;
	height: 60px;
	padding: 1em;
	justify-content: center;
	position: relative;
	width: 20em;
}

.copiright {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 50px;
	text-align: center;
	font-size: 1.2em;
	border-top:3px solid #fff;
	color: #FFFFFF;
}
