#auth-page {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 20px);
	position: relative;
	top: 59px;
	width: 100%;
}

.wrapper-hover{
	top: 70px !important;
	width: 380px !important;

}

.wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	position: relative;
	top: 80px;
	width: 100%;
	transition: 0.5s;
	border-radius: 2px;
}

#blob1 {
	right: -400px;
	top: 40px;
}
#blob2 {
	left: -200px;
	top: -100px;
}
#blob3 {
	top: 150px;
	left: -450px;
}

.blob {
	position: absolute;
	transition: filter 1.5s ease;
	filter: blur(30px);
}

.blob:hover {
	filter: blur(30px) hue-rotate(360deg);
}

.log-form-container {
	background: rgba(241, 243, 255, 0.5);
	font-family: Roboto Slab, serif;
	font-size: var(--textsizefortext);
	font-weight: 400;
	position: relative;
	padding: 0 20px 30px 20px;
	width: 380px;
	transition: 0.5s;
	backdrop-filter: blur(8px);
	border:2px solid #000000;
	border-radius: 10px;
}

.log-form-container:hover{
	background: rgba(245, 248, 255, 0.8);
}

.log-form {
	margin-top: 14px;
}

.log-option {
	display: flex;
	justify-content: space-between;
}

.auth-button {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 176px;
}

.log-a {
	align-items: center;
	border: 2px solid #E1E1F1;
	border-radius: 3px;
	display: flex;
	height: 32px;
	justify-content: center;
	position: relative;
	transition: 0.2s ease-in-out;
	width: 100%;
}

.log-a:hover{
	border: 2px solid #000;
}

/*.log-a svg{*/
/*	transition: 0.5s;*/
/*}*/

/*.log-a:hover svg{*/
/*	filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(183deg) brightness(103%) contrast(107%);*/
/*}*/

.log-span {
	display: inline-flex;
	margin-bottom: 8px;
	margin-left: 20px;
}

.log-option .log-span {
	margin-left: 0;
}

.reg-button svg {
	margin-left: 6px;
}

#renew-pass {
	color: var(--color);
	font-size: 13px;
	margin-left: 20px;
	text-decoration: underline;
}

.log-input {
	align-items: center;
	background: #FFF;
	border: 2px solid #E1E1F1;
	border-radius: 2px;
	display: inline-flex;
	justify-content: space-between;
	padding: 0 18px 0 18px;
	width: 340px;
	transition: 0.2s ease-in-out;

}

.log-input:hover {
	border: 2px solid #000;
}

.log-input input {
	height: 30px;
	width: 300px;
}

.label-submit {
	background: #3755FA;
	border-radius: 2px;
	border: 2px solid #E1E1F1;
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M20 7L10 17l-5-5'/%3E%3C/svg%3E");
	height: 22px;
	padding: 5px 0 5px 0;
	position: relative;
	width: 100%;
	transition: 0.2s ease-in-out;

}

.label-submit:hover {
	border-color: #000;
}

.alert {
	  display: flex;
	  justify-content: space-between;
	  margin-top: 20px;
	  padding-left: 20px;
	  width: 340px;
  }
