.welcome-page{
	font-family: SONGER_SE_Medium, serif;
	font-size: 3em;
}

.welcome-wrapper{
	align-items: center;
	background: #F5F8FF;
	display: flex;
	justify-content: center;
	padding: 0 0 20px 0;
	position: relative;
	top: 80px;
	width: 1400px;
	height: 400px;
	opacity: 1;
}

.welcome{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.welcome > * + *{
	margin-left: 20px;
}

.welcome > p{
	display: inline-flex;
	cursor: pointer;
	position: relative;
}

section{
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 198px);
	position: relative;
	top: 0;
	padding: 60px 0;
	width: 100vw;
}

.business-page{
	margin-top: 70px;
	margin-bottom: 70px;
}

.businesses-header{
	font-family: SONGER_SE_Regular;
	font-size: 2em;
	margin-bottom: 20px;
}

.businesses-wrapper{
    height: calc(100vh - 20px);
    display:flex;
	width: calc(100vw - 80px);
    align-items: center;
    justify-content:flex-start;
    flex-direction:row;
}

.businesses-wrapper::before{
	position: absolute;
	z-index: -1;
	right: 30px;
	content: url("../img/business_image1.svg");
}

.businesses-menu{
	font-family: SONGER_SE_Regular, serif;
	font-size: 18px;
	min-width: 240px;
    max-width: 378px;
	margin-right: 20px;
	position: relative;
	display: flex;
	flex-direction: column;
}

.business-btn{
	padding-bottom: 25px;
	position: relative;
	transition: 0.1s;
	left: 0;
}

.business-btn:hover {
	color: #3755FA;
	left: -10px;
}

.businesses-info{
	padding: 20px 20px;
	background: rgba(241, 243, 255, 0.5);
	font-family: Roboto Slab, serif;
	font-size:16px;
	max-width: 800px;
	color: #000;
	height: calc(100vh - 300px);
	transition: 0.2s;
	backdrop-filter: blur(8px);
}

.businesses-info:hover {
	background: rgba(241, 243, 255, 0.8);
}

.business-info-open{
	height: 100% !important;
	opacity: 1 !important;
	overflow: auto !important;
}

.business-info{
	display: flex;
	flex-direction: column;
	height: 0;
	overflow: hidden;
	opacity: 0;
	transition: 0.6s;
}

.business-docs{
	display: flex;
	flex-direction: column;
}

.business-docs{

	.business-document{
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-top: 20px;
	}

	.business-document > svg{
		position: relative;
		flex: 0 0 auto;
		min-width: 27px;
		margin-right: 10px;
	}

	.business-document > p{
		max-width: 230px;
		margin-right: 10px;
	}

	.business-document-btn{
		border: 2px solid #3755FA;
		align-items: center;
		display: flex;
		padding: 5px;
		position: relative;
		transition: 0.2s;
	}

	.business-document-btn:hover {
		background: #D5FEC8;
		background: #3755FA;
		color: white;
	}

}

.business-start-btn{
	border: 2px solid #3755FA;
	align-items: center;
	margin-top: 20px;
	justify-content: center;
	display: flex;
	padding: 10px 5px;
	position: relative;
	transition: 0.2s;
}

.business-start-btn:hover {
	background: #D5FEC8;
}

@media (max-width: 1550px) {
	/*.businesses-wrapper::before{*/
	/*	filter: blur(8px);*/
	/*	!*display: none;*!*/
	/*}*/

	.businesses-info{
		backdrop-filter: blur(8px);
	}

}
